<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAADMggclhh4ms2XKqVVsRQR9sm-xMQvk0</string>
	<key>GCM_SENDER_ID</key>
	<string>341493656655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cstain</string>
	<key>PROJECT_ID</key>
	<string>cstain-a5fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>cstain-a5fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341493656655:ios:4b708620e3e947f65a0e3a</string>
</dict>
</plist>